:root {
  --green-800: rgba(114, 146, 78, 1);
  --green-300: rgba(157, 185, 126, 1);
  --green-30: rgba(157, 185, 126, 0.3);
  --green-200: rgba(183, 204, 162, 1);
  --light-green: rgba(210, 240, 177, 0.9);
  --black: rgba(16, 16, 16, 1);
  --white: rgba(255, 255, 255, 1);
  --white-80: rgba(255, 255, 255, 0.8);
  --h1-title-hero-font-family: "SF Pro Display", Helvetica;
  --h1-title-hero-font-weight: 700;
  --h1-title-hero-font-size: 90px;
  --h1-title-hero-letter-spacing: 0px;
  --h1-title-hero-line-height: 110.00000238418579%;
  --h1-title-hero-font-style: normal;
  --captions-font-family: "SF Pro Display", Helvetica;
  --captions-font-weight: 400;
  --captions-font-size: 16px;
  --captions-letter-spacing: 0px;
  --captions-line-height: 129.99999523162842%;
  --captions-font-style: normal;
  --h2-title-page-font-family: "SF Pro Display", Helvetica;
  --h2-title-page-font-weight: 700;
  --h2-title-page-font-size: 100px;
  --h2-title-page-letter-spacing: 0px;
  --h2-title-page-line-height: 110.00000238418579%;
  --h2-title-page-font-style: normal;
  --h2-title-emphasis-font-family: "SF Pro Display", Helvetica;
  --h2-title-emphasis-font-weight: 500;
  --h2-title-emphasis-font-size: 90px;
  --h2-title-emphasis-letter-spacing: 0px;
  --h2-title-emphasis-line-height: 100%;
  --h2-title-emphasis-font-style: italic;
  --h3-light-font-family: "SF Pro Display", Helvetica;
  --h3-light-font-weight: 300;
  --h3-light-font-size: 56px;
  --h3-light-letter-spacing: 0px;
  --h3-light-line-height: 129.99999523162842%;
  --h3-light-font-style: normal;
  --h3-medium-font-family: "SF Pro Display", Helvetica;
  --h3-medium-font-weight: 500;
  --h3-medium-font-size: 56px;
  --h3-medium-letter-spacing: 0px;
  --h3-medium-line-height: 129.99999523162842%;
  --h3-medium-font-style: normal;
  --h3-medium-large-font-family: "SF Pro Display", Helvetica;
  --h3-medium-large-font-weight: 500;
  --h3-medium-large-font-size: 56px;
  --h3-medium-large-letter-spacing: 0px;
  --h3-medium-large-line-height: 129.99999523162842%;
  --h3-medium-large-font-style: normal;
  --h4-light-font-family: "SF Pro Display", Helvetica;
  --h4-light-font-weight: 300;
  --h4-light-font-size: 34px;
  --h4-light-letter-spacing: 0px;
  --h4-light-line-height: 129.99999523162842%;
  --h4-light-font-style: normal;
  --h4-semibold-font-family: "SF Pro Display", Helvetica;
  --h4-semibold-font-weight: 400;
  --h4-semibold-font-size: 34px;
  --h4-semibold-letter-spacing: 0px;
  --h4-semibold-line-height: normal;
  --h4-semibold-font-style: normal;
  --subtitle-large-font-family: "SF Pro Display", Helvetica;
  --subtitle-large-font-weight: 400;
  --subtitle-large-font-size: 24px;
  --subtitle-large-letter-spacing: 0px;
  --subtitle-large-line-height: 150%;
  --subtitle-large-font-style: normal;
  --subtitle-regular-font-family: "SF Pro Display", Helvetica;
  --subtitle-regular-font-weight: 400;
  --subtitle-regular-font-size: 24px;
  --subtitle-regular-letter-spacing: 0px;
  --subtitle-regular-line-height: 129.99999523162842%;
  --subtitle-regular-font-style: normal;
  --subtitle-light-font-family: "SF Pro Display", Helvetica;
  --subtitle-light-font-weight: 300;
  --subtitle-light-font-size: 24px;
  --subtitle-light-letter-spacing: 0px;
  --subtitle-light-line-height: 150%;
  --subtitle-light-font-style: normal;
  --subtitle-light-small-font-family: "SF Pro Display", Helvetica;
  --subtitle-light-small-font-weight: 300;
  --subtitle-light-small-font-size: 24px;
  --subtitle-light-small-letter-spacing: 0px;
  --subtitle-light-small-line-height: 100%;
  --subtitle-light-small-font-style: normal;
  --body-light-font-family: "SF Pro Display", Helvetica;
  --body-light-font-weight: 300;
  --body-light-font-size: 20px;
  --body-light-letter-spacing: 0px;
  --body-light-line-height: 150%;
  --body-light-font-style: normal;
  --body-reg-large-font-family: "SF Pro Display", Helvetica;
  --body-reg-large-font-weight: 400;
  --body-reg-large-font-size: 20px;
  --body-reg-large-letter-spacing: 0px;
  --body-reg-large-line-height: 129.99999523162842%;
  --body-reg-large-font-style: normal;
  --body-reg-font-family: "SF Pro Display", Helvetica;
  --body-reg-font-weight: 400;
  --body-reg-font-size: 20px;
  --body-reg-letter-spacing: 0px;
  --body-reg-line-height: 150%;
  --body-reg-font-style: normal;
  --btn-16-font-family: "SF Pro Display", Helvetica;
  --btn-16-font-weight: 700;
  --btn-16-font-size: 16px;
  --btn-16-letter-spacing: 0px;
  --btn-16-line-height: 129.99999523162842%;
  --btn-16-font-style: normal;
  --btn-20-font-family: "SF Pro Display", Helvetica;
  --btn-20-font-weight: 700;
  --btn-20-font-size: 20px;
  --btn-20-letter-spacing: 0px;
  --btn-20-line-height: 129.99999523162842%;
  --btn-20-font-style: normal;
}
