.tab-controls {
  display: inline-flex;
  align-items: center;
  border-radius: 44px;
  padding: 6px;
  width: (clamp(280px, 8.75rem + 43.75vw, 420px));
  height: clamp(40px, 1.438rem + 5.31vw, 57px);
  background: #eee;
}
.tab-controls__btn {
  padding: 7px clamp(0px, -1.25rem + 6.25vw, 20px);
  height: clamp(30px, 0.938rem + 4.69vw, 45px);
  width: 348px;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 32px;

  color: rgba(31, 31, 31, 0.8);
  font-weight: 500;
  font-style: 18px;

  transition: background-color 0.2s ease-in;

  &:hover {
    background-color: rgba(255, 255, 255, 0.5);
  }

  &--active {
    background-color: #fff;

    &:hover {
      background-color: #fff;
    }
  }
}