.club {
  border-bottom: 1px solid black;
  h2 {
    font-size: 65px;
    font-weight: 600;
    text-align: right;
    text-transform: uppercase;
  }
  p {
    font-size: 26px;
    margin-bottom: 120px;
    padding-top: 27px;
    text-align: right;
    line-height: 40px;
    font-weight: 300;
    margin-left: auto;
  }
}

.club-wrapper {
  padding-top: 120px;
  padding-right: 120px;
  padding-left: 30px;
}