.footer {
  padding: 30px 0;
}

.offer-wrapper {
  padding: 30px 0 0;
  text-align: center;
  line-height: 26px;
  font-size: 14px;
  color: #141414;
  opacity: .7;
}

.offer a {
  color: var(--accent);
}

.inst {
  color: var(--accent-active);
  border-bottom: 0.7px solid var(--accent-active);
}
