.motivation {
  position: relative;
  background-image: url('./../img/background/motivation-bg.jpg');
  background-size: cover;
  overflow: hidden;
  height: 100vh;
  background-position: 27% top;
  border-image: fill 0 linear-gradient(#0003, #0003);
}

.motivation-descr {
  position: absolute;
  bottom: 145px; /* Позиция текста сверху */
  left: 40px;
  width: 100%;
  z-index: 2; /* Текст будет выше фона */
  p {
    color: white; /* Цвет текста */
    font-size: 18px;
    font-weight: 500;
  }
}

/* Обертка для бегущей строки */
.motivation__marquee-wrapper {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: white; /* фон, который закроет картинку */
  border-bottom: 1px solid black;
  z-index: 2;
  overflow: hidden; /* скрыть текст за пределами контейнера */
}

/* Стили для бегущей строки */
.motivation__marquee {
  display: flex;
  animation: motivation__marquee 35s linear infinite;
  white-space: nowrap;
}

.motivation__marquee span {
  margin: 20px 0 20px;
  margin-right: 50px;
  font-size: 24px;
  font-weight: 300;
}

/* Анимация бегущей строки */
@keyframes motivation__marquee {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
