.trainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* Две колонки одинаковой ширины */
  position: relative;
  min-height: 1000px;
  /* Высота секции */
  overflow: hidden;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.trainer-text {
  background-color: white;
  z-index: 2;
}

/* Стили для имени и описания сверху */
.trainer-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 115px;
  margin-left: 120px;
}

.trainer-name {
  font-size: 50px;
  font-weight: 600;
  line-height: 70px;
  div {
    font-size: 18px;
    line-height: 25px;
    font-weight: 400;
    color: rgb(79, 79, 79);
    a {
      color: var(--accent-active)
    }
  }
}

.trainer-small-description {
  position: absolute;
  font-size: 20px;
  margin-left: 240px;
  margin-right: 20px;
  max-width: 460px;
  line-height: 28px;
  font-weight: 600;
  p {
    font-size: 15px;
    line-height: 21px;
    font-weight: 400;
    color: rgb(79, 79, 79);
  }
}

/* Стили для списка с описанием и стрелками */
.trainer-description-list {
  position: absolute;
  margin-left: 120px;
  margin-top: 110px;
  max-width: 575px;
  line-height: 24px;
  font-size: 17px;
  font-weight: 300;
  margin-right: 20px;
  span {
    white-space: normal;
    color: var(--accent-active);
  }
}

.trainer-description-list li {
  // display: flex;
  // align-items: top;
  position: relative;
  margin-bottom: 10px;
  padding-left: 60px;
}

.trainer-description-list li::before {
  content: "→";
  /* Стрелка перед каждым пунктом */
  margin-right: 30px;
  color: #333;
  font-size: 40px;
  color: var(--accent);
  position: absolute;
  top: -4px;
  left: 0px;
}

.trainer__image {
  background-image: linear-gradient(rgba(80, 80, 80, 0.3)), url('./../img/background/trainer-bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 33% top;
  position: relative;
  z-index: 1;
}

/* Псевдоэлемент для диагонального разделения */
.trainer__image::before {
  content: '';
  position: absolute;
  top: 0;
  right: 78%;
  width: 150%;
  height: 120%;
  background-color: white;
  transform: rotate(9deg);
  transform-origin: top right;
  z-index: 2;
}

.trainer__image-mobile {
  display: none;
  background-image: linear-gradient(to top, white 0%, rgba(80, 80, 80, 0.4) 80%), url('./../img/background/trainer-bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% top;
  position: relative;
  z-index: 1;
  min-height: 530px;
}

