// Rubik
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
// Roboto
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
// Montserrat
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
// Poiret one
@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');

html, body {
  font-family: var(--font-main);
  scroll-behavior: smooth;
}

.container {
  padding: 0 120px;
  margin: 0 auto;
  width: 100%;
}

.none {
  display: none !important;
}

body.no-scroll {
  overflow: hidden; /* Отключение прокрутки */
}

.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white; /* Цвет загрузчика */
  z-index: 1000; /* Задать высокий z-index */
  animation: fadeOut 1s forwards; /* Анимация исчезновения */
}

@keyframes fadeOut {
  from {
      opacity: 1;
  }
  to {
      opacity: 0;
  }
}

.content {
  opacity: 0; /* Скрыть контент по умолчанию */
  transition: opacity 4.5s; /* Плавный переход для появления */
}

.content.visible {
  opacity: 1; /* Показать контент */
}

.price-btn-get-fixed {
  /* Скрытый стиль для ссылки по умолчанию */
    display: none;
    z-index: 3;
    overflow: hidden;
    position: fixed;
    bottom: -50px;
    width: 93%;
    
    opacity: 0;
    /* Начальное положение вне экрана */
    left: 50%;
    transform: translateX(-50%) scale(0.8);
    /* Уменьшенный размер */
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 16px;
    border-radius: 5px;
    transition: all 0.5s ease;
    /* Плавный переход */
    justify-content: center;
    align-items: center;
    color: #ffffff;
    font-size: 16px;
    font-weight: 600;
    background-color: var(--accent);
    border-radius: 7px;
    height: 50px;
    text-transform: uppercase;

  .stripe {
    position: absolute;
    top: 0;
    left: -10px; /* Начальная позиция за пределами кнопки */
    width: 45px;
    height: 100%;
    background: linear-gradient(to right, transparent, white, transparent);
    animation: moveStripe 5s linear infinite; /* Длительность анимации 5 секунд */
  }
  @keyframes moveStripe {
    0% {
        left: -45px; /* Начальная позиция */
    }
    10% {
        left: -45px; /* Задержка на 0.5 секунд */
    }
    100% {
        left: calc(100% + 2500px); /* Полоса уходит за пределы кнопки */
    }
  }
}

/* Активное состояние ссылки при прокрутке */
.price-btn-get-fixed.show {
  bottom: 10px;
  /* Позиция над нижним краем экрана */
  opacity: 1;
  transform: translateX(-50%) scale(1);
  /* Увеличение размера */
}