
:root {
// Текст
  --text-color: #000000;
  --white-text-color:#FFFFFF;
// Розовый
  // --accent: #f36dd6;
  // --accent-active: #d11ba0;
// Бирюзовый
  // --accent: #30d5c8;
  // --accent-active: #26AAA0;
// Серый
  // --accent: #697377;
  // --accent-active: #191d23;
// Графит
  --accent: #697377;
  --accent-active: #2d2f33;

  --accent-bright: #efefef;
  --grey-bg: #242424;
// Шрифт
  --font-main: "Poiret+One", sans-serif;
  // --font-main: "Roboto", sans-serif;
}

// @mixin desktop-small() {
//   @media (max-width: 1400px) {
//     @content;
//   }
// }

// @mixin tablet() {
//   @media (max-width: 992px) {
//     @content;
//   }
// }

// @mixin mobile-xl() {
//   @media (max-width: 819px) {
//     @content;
//   }
// }

// @mixin mobile() {
//   @media (max-width: 629px) {
//     @content;
//   }
// }

